* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

h1 {
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
}

.heading-div {
  background-color: red;
}

.paragraph-div {
  background-color: blue;
  padding: 20px;
  margin: 20px;
  border: 10px solid red;
}

nav {
  background-color: green;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.main-menu {
  display: flex;
  gap: 10px;
}
